:root {
  /* Change this to change the appearance of the hexaons */
  --hex-width: 105px; 
  --hex-between: 10px;
  
  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all .2s ease;
  
  /* Colors */
  --color-hex-default: #6dc6e8;
  --color-hex-hover:   #FFFFFF;
  --color-angular:     #d7f551;
  --color-atom:         rgb(248,0,0);
  --color-bootstrap:   rgb(141, 247, 173);
  --color-circleci:     #797ebb;
  --color-css:         rgb(247, 208, 241);
  --color-git:          #efeba1;
  --color-gulp:         #a5d6c0;
  --color-haskell:     rgb(213, 203, 241);
  --color-html:        rgb(14, 181, 247);
  --color-javascript:  #277eef;
  --color-meteor:      rgba(247, 109, 194, 0.973);
  --color-python:      rgb(66, 248, 136);
  --color-rails:       #0078d7;
  --color-sass:       #6BC5E8;
  --color-vuejs:       #4FC08D;
  --color-webpack:     #8DD6F9;
}
@media (max-width: 787px) {
  :root {
    /* Change this to change the appearance of the hexaons */
    --hex-width: 65px; 
    --hex-between: 10px;
  
    /* Other hexagon dimentions */
    --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
    --hex-margin: calc(var(--hex-width) / 2);
    --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
    --hex-transition: all .2s ease;
    
    /* Colors */
    --color-hex-default: #6dc6e8;
    --color-hex-hover:   #FFFFFF;
    --color-angular:     #d7f551;
    --color-atom:        #6ebcb6;
    --color-bootstrap:   rgb(141, 247, 173);
    --color-circleci:    #797ebb;
    --color-css:         #1572B6;
    --color-git:         #efeba1;
    --color-gulp:        #a5d6c0;
    --color-haskell:     #5D4F85;
    --color-html:        rgb(14, 181, 247);
    --color-javascript:  #277eef;
    --color-meteor:      rgba(247, 109, 194, 0.973);
    --color-python:      rgb(66, 248, 136);
    --color-rails:       #0078d7;
    --color-sass:        #6BC5E8;
    --color-vuejs:       #4FC08D;
    --color-webpack:     #8DD6F9;
  }
  .hexagon span{
    font-size: 10px;
  }
  .caption h6 {
    font-size: 18px;
    color: #051243;
    font-weight: bold;
    margin-top:2%; 
    text-align: center; 
  }
  .abc{
    width:40%;
  }
  #xy{
    margin-left:3%;
    padding-top: 5%;
   
    margin-right:3%; 
  }
  p{
    text-align: justify;
   }
  .image{
width:99%;
  }
  .col-sm-3.desc{
  /* padding:2em; */
  border-width: 1px;
  border-style: solid;
  -webkit-border-image: 
    -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: 
    -webkit-linear-gradient(white, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(white, rgba(0, 0, 0, 0)) 1 100%;    
  -o-border-image:
    -o-linear-gradient(white, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
    linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 1 100%;
  }
  .Hide{
visibility: hidden;
display:none;
 }
 .navbar navbar-expand-lg fixed-top{
   height:2%;
 }
 .navbar-toggler-icon {
   height:24px;
   width:3px;
 }
 .container11{
   height:50%;
}
 #right{
padding-left: 20%;
text-align: center;
 }
 /* .modal-lg {
  max-width: 100% !important;
} */
#aboutus{
  margin-top: 20%;
 }
 label{
   display:block;
   text-align: justify;
 }

.modal-dialog.modal-xl {
    min-width: 96%;
    overflow-y:auto;
   max-height: calc(100vh - 250px);
 

}
}




/* Hexagons */
.hexagon-con {
  display: grid;
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
  grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}
.hexagon {
  align-items: center;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}
.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}
.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}
  
/* .hexagon:hover {
  background-color: var(--color-hex-hover);
} */
/* .hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
  } */
 
.hexagon:nth-child(8n + 5),
.hexagon:nth-child(8n + 6),
.hexagon:nth-child(8n + 7),
.hexagon:nth-child(8n + 8) {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.hexagon > svg {
  height: 75%;
  transition: var(--hex-transition);
}

/* Colors */
.color-sass {
  background-color: var(--color-sass);
}
.color-sass::after,
.color-sass::before {
  border-top-color: var(black);
  border-bottom-color: var(black);
}
.color-sass:hover {
  fill: var(black);
}

.color-angular {
  background-color: var(--color-angular);
}
.color-angular::after,
.color-angular::before {
  border-top-color: var(--color-angular);
  border-bottom-color: var(--color-angular);
}
.color-angular:hover {
  fill: var(--color-angular);
}

.color-gulp {
  background-color: var(--color-gulp);
} 
.color-gulp::after,
.color-gulp::before {
  border-top-color: var(--color-gulp);
  border-bottom-color: var(--color-gulp);
}
.color-gulp:hover {
  fill: var(--color-gulp);
}

.color-rails {
  background-color: var(--color-rails);
}
.color-rails::after,
.color-rails::before {
  border-top-color: var(--color-rails);
  border-bottom-color: var(--color-rails);
}
.color-rails:hover {
  fill: var(--color-rails);
}

.color-git {
  background-color: var(--color-git);
}
.color-git::after,
.color-git::before {
  border-top-color: var(--color-git);
  border-bottom-color: var(--color-git);
}
.color-git:hover {
  fill: var(--color-git);
}

.color-html {
  background-color: var(--color-html);
}
.color-html::after,
.color-html::before {
  border-top-color: var(--color-html);
  border-bottom-color: var(--color-html);
}
.color-html:hover {
  fill: var(--color-html);
}

.color-javascript {
  background-color: var(--color-javascript);
}
.color-javascript::after,
.color-javascript::before {
  border-top-color: var(--color-javascript);
  border-bottom-color: var(--color-javascript);
}
.color-javascript:hover {
  fill: var(--color-javascript);
}

.color-vuejs {
  background-color: var(--color-vuejs);
}
.color-vuejs::after,
.color-vuejs::before {
  border-top-color: var(--color-vuejs);
  border-bottom-color: var(--color-vuejs);
}
.color-vuejs:hover {
  fill: var(--color-vuejs);
}

.color-circleci {
  background-color: var(--color-circleci);
}
.color-circleci::after,
.color-circleci::before {
  border-top-color: var(--color-circleci);
  border-bottom-color: var(--color-circleci);
}
.color-circleci:hover {
  fill: var(--color-circleci);
}

.color-webpack {
  background-color: var(--color-webpack);
}
.color-webpack::after,
.color-webpack::before {
  border-top-color: var(--color-webpack);
  border-bottom-color: var(--color-webpack);
}
.color-webpack:hover {
  fill: var(--color-webpack);
}

.color-css {
  background-color: var(--color-css);
}
.color-css::after,
.color-css::before {
  border-top-color: var(--color-css);
  border-bottom-color: var(--color-css);
}
.color-css:hover {
  fill: var(--color-css);
}

.color-python {
  background-color: var(--color-python);
}
.color-python::after,
.color-python::before {
  border-top-color: var(--color-python);
  border-bottom-color: var(--color-python);
}
.color-python:hover {
  fill: var(--color-python);
}

.color-haskell {
  background-color: var(--color-haskell);
}
.color-haskell::after,
.color-haskell::before {
  border-top-color: var(--color-haskell);
  border-bottom-color: var(--color-haskell);
}
.color-haskell:hover {
  fill: var(--color-haskell);
}

.color-bootstrap {
  background-color: var(--color-bootstrap);
}
.color-bootstrap::after,
.color-bootstrap::before {
  border-top-color: var(--color-bootstrap);
  border-bottom-color: var(--color-bootstrap);
}
.color-bootstrap:hover {
  fill: var(--color-bootstrap);
}

.color-atom {
  background-color: var(--color-atom);
}
.color-atom::after,
.color-atom::before {
  border-top-color: var(--color-atom);
  border-bottom-color: var(--color-atom);
}
.color-atom:hover {
  fill: var(--color-atom);
}

.color-meteor {
  background-color: var(--color-meteor);
}
.color-meteor::after,
.color-meteor::before {
  border-top-color: var(--color-meteor);
  border-bottom-color: var(--color-meteor);
}
.color-meteor:hover {
  fill: var(--color-meteor);
}
.modal-dialog modal-xl{
  max-width:50%;
  max-height:50%;
}
